<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.impl.CustomerMapper">
	<resultMap type="com.bean.Customer" id="BaseResult">
		<id column="ID" property="id"/>
		<result column="NAME" property="name"/>
		<result column="LEVEL" property="level"/>
	</resultMap>
	<select id="getByID" parameterType="int" resultMap="BaseResult">
		SELECT 
			id,name,level
		FROM customer
			WHERE id=#{id}
	</select>
	<select id="getAll" resultMap="BaseResult">
		SELECT 
				id,name,level
		FROM customer
	</select>
	<update id="update" parameterType="com.bean.Customer">
		UPDATE customer
		SET
			name=#{name},level=#{level}
		WHERE
			id=#{id}
	</update>
	<delete id="deleteByID" parameterType="int">
		DELETE FROM 
			customer
		WHERE 
			id=#{id}
	</delete>
	<insert id="insert" parameterType="com.bean.Customer">
		INSERT INTO 
			customer(name,level)
		VALUES
			(#{name},#{level})
	</insert>
</mapper>